requests
pycryptodome
curl_cffi>=0.6.2
aiohttp
certifi
browser_cookie3
PyExecJS
duckduckgo-search>=5.0
nest_asyncio
werkzeug
loguru
pillow
platformdirs
fastapi
uvicorn
flask
brotli
beautifulsoup4
aiohttp_socks
pywebview
plyer
cryptography
nodriver
waitress
g4f
g4f[all]
g4f[image]
g4f[webdriver]
g4f[webview]
g4f[openai]
g4f[api]
g4f[gui]
g4f[local]
g4f[curl_cffi]
